@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus ~ .input-focus,
input:valid ~ .input-valid {
  @apply text-yellow-400 text-sm -translate-y-[22px] -translate-x-1;
} 

.hidden-y-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-y-scrollbar::-webkit-scrollbar {
  display: none;
}
